---
layout: default
---
<div class='container'>


	<div class="carousel">
		<div class="slides">
			<div class="slide"><img src="images/slider/img_h_6.jpg" style="width:100%"></div>
			<div class="slide"><img src="images/slider/img_h_7.jpg" style="width:100%"></div>
			<div class="slide"><img src="images/slider/img_h_8.jpg" style="width:100%"></div>
		</div>
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
	</div>

	<div class="dots">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>

	<script>
		let slideIndex = 0;
		showSlides();

		function plusSlides(n) {
			slideIndex += n;
			showSlides();
		}

		function currentSlide(n) {
			slideIndex = n - 1;
			showSlides();
		}

		function showSlides() {
			const slides = document.querySelectorAll('.slide');
			const dots = document.querySelectorAll('.dot');

			if (slideIndex >= slides.length) {
				slideIndex = 0;
			}
			if (slideIndex < 0) {
				slideIndex = slides.length - 1;
			}

			slides.forEach(slide => slide.style.display = 'none');
			dots.forEach(dot => dot.classList.remove('active'));

			slides[slideIndex].style.display = 'block';
			dots[slideIndex].classList.add('active');
		}

		function autoSlide() {
			slideIndex++;
			showSlides();
			setTimeout(autoSlide, 1000); // Change slide every second
		}

		autoSlide();
	</script>
	<header class="masthead text-center">
		<!-- ======= Culture Category Section ======= -->
		<section class="category-section">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-md-9">

						<!-- ======= Section ======= -->
						<div class="d-lg-flex post-entry-2">

							<h3><a href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.3c04607">MetDIT:
									一种人工智能技术的临床组学数据分析方案</a></h3>
							<div class="name">
								<h3 class="m-0 p-0">Yuyang Sha (沙宇洋)</h3>
							</div>
							<div class="post-meta"><span class="date">Article</span> <span class="mx-1">&bullet;</span>
								<span>Feb 7th '24</span>
							</div>

							<a href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.3c04607"
								class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
								<img src="images/post/2024.Sha.Anal.Chem/ai_flowchart.png" alt="" class="img-fluid">
							</a>

							<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

								<div class="col-lg-4 col-md-6 portfolio-item filter-app">
									<div class="portfolio-wrap">
										<img src="images/post/2024.Sha.Anal.Chem/figure1.png" class="img-fluid" alt="">
										<div class="portfolio-info">
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 portfolio-item filter-web">
									<div class="portfolio-wrap">
										<img src="images/post/2024.Sha.Anal.Chem/figure2.png" class="img-fluid" alt="">
										<div class="portfolio-info">
										</div>
									</div>
								</div>

								<div class="col-lg-4 col-md-6 portfolio-item filter-web">
									<div class="portfolio-wrap">
										<img src="images/post/2024.Sha.Anal.Chem/metdit-app.png" class="img-fluid"
											alt="">
										<div class="portfolio-info">
										</div>
									</div>
								</div>

							</div>

							<div>
								<p>临床组学数据的精准分析在疾病诊断、药物发现等领域中具有非常重要的意义。
									通常，临床组学数据具有纬度高、样本量小、特征关联性复杂等特点，传统的数据数据分析方法很能全面的对临床组学数据进行高效的分析和理解。
									因此，本工作提出了一种基于人工智能的临床组学数据分析方案（MetDIT），借助卷积神经网络来对数据进行高效的分析。
									MetDIT主要包含两个部分，分别是TransOmics和NetOmics；其中，TransOmics负责将一维的组学数据转换为二维的图像数据，
									在转换过程中会保持序列与图像之间的一一对应关系；NetOmics通过构建高效神深度神经网络来对转换后的二维数据进行分析。
									为了克服组学数据中样本量小、类别不平衡等难题，我们还设计了一种特征增强模块（FAM）和损失函数，从而进一步提升算法的性能。
									为了探究方法的性能，我们选择了三个具有代表性的临床组学数据进行分析，结果显示本文所提出的方案在精度、稳定性、运行效率等方面具有极大的优势。
								</p>
							</div>
						</div> <!-- ======= End ======= -->

						<br>
						<hr>
						<br>

						<!-- ======= Section ======= -->
						<div class="d-lg-flex post-entry-2">

							<h3><a
									href="https://journals.lww.com/ahm/abstract/9900/integrated_causal_inference_modeling_uncovers.72.aspx">整合因果推断模型揭示慢性疲劳综合征新的致病因果因素和清金益气颗粒的潜在治疗靶点</a>
							</h3>
							<div class="name">
								<h3 class="m-0 p-0">Junrong Li (李俊蓉)</h3>
							</div>
							<div class="post-meta"><span class="date">Article</span> <span class="mx-1">&bullet;</span>
								<span>Feb 6th '24</span>
							</div>

							<a href="https://journals.lww.com/ahm/abstract/9900/integrated_causal_inference_modeling_uncovers.72.aspx"
								class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
								<img src="images/post/2024.Li.Acupuncture.and.Herbal.Medicine/GAPreview.02233705-990000000-00072.ga.jpeg"
									alt="" class="img-fluid">
							</a>

							<div>
								<p>慢性疲劳综合征 (CFS) 是一种复杂的多因素疾病,也是新冠肺炎(COVID-19)的一种常见后遗症。
									CFS的病因和发病机制目前尚不清楚，这给其诊断和治疗带来很大挑战。早期研究表明，
									CFS可能与神经内分泌和免疫调节机制紊乱、慢性病毒感染以及心理因素等有关，但多采用横断面研究设计，难以判断明确的因果关系。
									清金益气颗粒是临床证明的有效的预防和治疗COVID-19后遗症的中药方剂，但其作用靶点尚不完全明确。
									为进一步阐明CFS的致病因素以及清金益气治疗CFS的作用靶点，我们首先开展了一个长周期前瞻性队列研究（随访时间7年），
									通过因果图学习的方法发现慢性咳嗽和失眠是CFS发病的潜在因果因素，并应用多种统计模型和亲属队列验证了结果的稳健性。
									基于此，我们进一步运用全基因组双样本孟德尔随机化分析，估算与CFS相关病因(慢性咳嗽和失眠)相关的药物靶点蛋白，
									最后，我们通过虚拟筛选和分子对接技术评估了清金益气颗粒主要化学成分与这些靶标蛋白的结合能力，阐明了其预防CFS的可能作用机制。
								</p>
								<div class="d-flex align-items-center author">
								</div>
							</div>
						</div> <!-- ======= End ======= -->

					</div>

					<div class="col-md-3">

						<div class="post-entry-1 border-bottom">
							<div class="post-meta"><span class="date">News</span> <span class="mx-1">&bullet;</span>
								<span>Feb 7th '24</span>
							</div>
							<a href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.3c04607"
								class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
								<img src="images/post/2024.Sha.Anal.Chem/cover.jpg" alt="" class="img-fluid">
							</a>
							<h2 class="mb-2"><a
									href="https://pubs.acs.org/doi/abs/10.1021/acs.analchem.3c04607">一种人工智能技术的临床组学数据分析方案</a>
							</h2>
							<span class="author mb-3 d-block">Yuyang Sha (沙宇洋)</span>
						</div>

						<div class="post-entry-1 border-bottom">
							<div class="post-meta"><span class="date">News</span> <span class="mx-1">&bullet;</span>
								<span>Feb 6th '24</span>
							</div>
							<a href="https://journals.lww.com/ahm/abstract/9900/integrated_causal_inference_modeling_uncovers.72.aspx"
								class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
								<img src="images/post/2024.Li.Acupuncture.and.Herbal.Medicine/cover.jpeg" alt=""
									class="img-fluid">
							</a>
							<h2 class="mb-2"><a
									href="https://journals.lww.com/ahm/abstract/9900/integrated_causal_inference_modeling_uncovers.72.aspx">整合因果推断模型揭示慢性疲劳综合征新的致病因果因素和清金益气颗粒的潜在治疗靶点
							</h2>
							<span class="author mb-3 d-block">Junrong Li (李俊蓉)</span>
						</div>

					</div>
				</div>
			</div>

		</section><!-- End Culture Category Section -->


		<p>
			<span style="display: block; margin-bottom: 3em"></span>

			<a href="https://github.com/Li-OmicsLab" target="_blank"><i class="fa fa-github"></i>
				Li-OmicsLab</a>&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i>
				Li-OmicsLab</a>&nbsp;&nbsp;&nbsp;
			<a href="mailto:kefengl@mpu.edu.mo"><i class="fa fa-envelope-o"></i> kefengl@mpu.edu.mo</a>
		</p>

		<div class="w3-container"
			style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
			<div style="text-align:left">
				<h3> Recent News </h3>
				<u> Happenings of the last few months</u>
				<span style="display: block; margin-bottom: 1em"></span>
				<div class="news">
					{% capture now %}{{'now' | date: '%s' | minus: 15811200 %}}{% endcapture %}
					<ul style="list-style-position:outside;padding:20px">
						{% for new in site.data.news %}
						{% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
						{% if date > now %}
						<li>
							<span>
								{{ new.details }}
							</span>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<span style="display: block; margin-bottom: 3em"></span>
		Centre for Artificial Intelligence Driven Drug Discovery (<a href="https://www.mpu.edu.mo/esca/en/aidd.php"
			target="_blank">AIDD</a>) at <a href="https://www.mpu.edu.mo/en/index.php" target="_blank">Macao Polytechnic
			University</a>
		<br>
		Address: Rua de Luís Gonzaga Gomes, Macao, SR
		<span style="display: block; margin-bottom: 3em"></span>

	</header>
</div>